
body{
    background: rgb(163, 163, 163);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-indent: 20px;
    line-height: 31px;
    text-shadow: darkblue;
}
h1{
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #520f0f
}
h2{
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #520f0f;
    font-size: 20px;
}
body > h2{

    text-align: justify;
}
h2 ul{
    text-align: justify;
}
.hi{
    font-size: 19px;
    color: rgb(136, 14, 50);
    
}
img{
    height: 230px;
    width: 250px;
}
div{
    text-align:inherit;
    text-decoration: darkcyan;
    font-family: monospace;
    font-size: 20px;
}
div h3{
    text-indent: 10px;
    color:rgb(44, 33, 92)
}
a:link {
    color: rgb(165, 70, 118);
  }
  
  a:visited {
    color: rgb(19, 82, 19);
  }
  .hello{
    padding-top: 3em;
  }
  div p{
      text-align: justify;
      color: rgb(28, 94, 170);
      font-size: 20px;
  }
  ol{
      color: maroon;
      text-align: justify;
      font-size: 20px;
    
  }